<div class="performance-bar">
        <div layout="row" layout-align="center center" angular-stats watch-count=".watch-count" digest-length=".digest-length"
            on-watch-count-update="onWatchCountUpdate(watchCount)"
            on-digest-length-update="onDigestLengthUpdate(digestLength)">
            <div class="watchers">
              Watches: <span class="watch-count"></span>
            </div>
            <div class="digest-cycle">
            Digest: <span class="digest-length"></span>ms
            </div>
        </div>
</div>