@import '../../../../common/variables';

.roster-list {

  .load-button {
      margin-top: 1em;
  }

  md-grid-list {
      width: 75%;
      margin: 1em auto;


      figcaption {
          text-align: center;
          font-size: 1em;
          width: 100%;
      }
  }

}
