<div class="app-view" layout="column" layout-fill>

  <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
      <h1>Angular Master Seed</h1>
  </md-whiteframe>

  <div layout="row" layout-align="center center" ng-if="!vm.heros.length">
      <md-button class="md-raised md-primary load-button" ng-click="vm.loadData()">
          <md-icon md-font-set="material-icons" aria-label="android">stars</md-icon>
          Avengers Assemble
      </md-button>
  </div>

  <div layout="row" layout-align="center center" ng-if="vm.heros.length">
      <md-switch ng-model="vm.onlyShowHerosWithSuperPowers" aria-label="Heros with Super Powers">
          Only Show Heros With Super Powers
      </md-switch>
  </div>

  <md-grid-list ng-if="vm.heros.length" md-cols="4" md-cols-sm="1" md-cols-md="2" md-cols-lg="3" md-cols-gt-lg="4" md-row-height="1:1" md-gutter="12px">
      <md-grid-tile ng-repeat="hero in vm.heros | superpowers:vm.onlyShowHerosWithSuperPowers" md-rowspan="1" md-colspan="1" class="red hero-tile">
      <img ng-src="{{::hero.icon}}"/>
        <md-grid-tile-footer>
          {{::hero.name}}
        </md-grid-tile-footer>
      </md-grid-tile>
  </md-grid-list>

</div>
