@import '../../common/variables';

.app-view {
    text-align: center;

    h1 {
        color: $baseFontColor;
        text-transform: uppercase;
    }

    .red {
        background: #ff8a80;
    }

}
