<md-autocomplete flex required
    md-input-name="{{vm.suggestInputName}}"
    md-input-id="{{vm.suggestInputName}}"
    md-search-text-change="vm.searchTextChange(vm.searchText)"
    md-selected-item-change="vm.selectedItemChange(item)"
    md-selected-item="vm.selectedItem"
    md-search-text="vm.searchText"
    md-select-on-match="false"
    md-items="item in vm.querySearch(vm.searchText)"
    md-item-text="item[vm.suggestProperty]"
    md-floating-label="{{vm.suggestLabel}}">
    <md-item-template>
        <span md-highlight-text="vm.searchText">{{item[vm.suggestProperty]}}</span>
    </md-item-template>
    <md-not-found>
        No matches found.
    </md-not-found>
    <div ng-messages="vm.suggestMessages">
      <div ng-message="required">{{vm.suggestLabel}} is required.</div>
    </div>
</md-autocomplete>
