<div class="hero-form">
  <md-whiteframe class="md-whiteframe-z2" layout="column" layout-align="center center">
    <h1>Create Your Hero</h1>
    <form name="vm.form" ng-submit="vm.form.$valid && vm.submit()" novalidate>
      <div layout="column" layout-align="center">
          <div flex>
              <md-input-container md-is-error="vm.form.name.$invalid">
                  <label>Name</label>
                  <input name="name" id="name" ng-model="vm.data.name" required ng-minlength="5" ng-maxlength="20">
                  <div ng-messages="vm.form.name.$error">
                      <div ng-message="required">Name is required.</div>
                      <div ng-message="minlength">Your field is too short</div>
                      <div ng-message="maxlength">Your field is too long</div>
                  </div>
              </md-input-container>
          </div>
          <div flex>
              <md-input-container md-is-error="vm.form.power.$invalid">
                  <label>Power</label>
                  <md-select name="power" id="power" ng-model="vm.data.power" ng-required="true">
                      <md-option ng-repeat="power in vm.powers" ng-value="power">{{power}}</md-option>
                  </md-select>
                  <div ng-messages="vm.form.power.$error">
                      <div ng-message="required">A power is required.</div>
                  </div>
              </md-input-container>
          </div>
          <div flex>
              <md-input-container md-is-error="vm.form.origin.$invalid">
                  <md-radio-group name="origin" id="origin" ng-model="vm.data.origin" ng-required="true" class="">
                      <md-radio-button ng-repeat="origin in vm.origins" ng-value="origin">{{vm.data.name}} {{origin}}</md-radio-button>
                  </md-radio-group>
                  <div ng-messages="vm.form.origin.$error">
                      <div ng-message="required">Origin is required.</div>
                  </div>
              </md-input-container>
          </div>
          <div flex>
            <suggestion-input
              suggest-label="Weakness"
              suggest-messages="vm.form.weakness.$error"
              suggest-input-name="weakness"
              suggest-model="vm.data.weakness"
              suggest-data="vm.weaknesses"
              suggest-property="name"
            </suggestion-input>
          </div>
      </div>
      <md-button type="button" ng-click="vm.reset()">RESET</md-button>
      <md-button class="md-primary">SUBMIT</md-button>
    </form>
   </md-whiteframe>
</div>

